html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
background:transparent;
border:0;
font-size:100%;
margin:0;
outline:0;
padding:0;
vertical-align:baseline;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
display:block;
}

ul,dl {
list-style:none;
}

.blog-wrap ul {
list-style:disc;
margin-bottom:1em;
margin-left:30px;
}

.blog-wrap ol {
list-style:decimal;
margin-bottom:1em;
margin-left:30px;
}

.blog-wrap ul li {
line-height:1.75em;
list-style-type:disc;
}

.blog-wrap ol li {
line-height:1.75em;
list-style-type:decimal;
}

a {
background:none;
color:#f07057;
text-decoration:none;
}

html,body {
margin:0;
padding:0;
}

img,audio,video,canvas {
max-width:100%;
}

body {
background:#f2f2e8;
z-index: -9999;
color:white;
font-family: 'lucida grande',serif;
font-style:normal;
font-weight:400;
}

.container {
height:auto;
margin:0 auto;
max-width:960px;
padding:0 12px;
}

.container-top {
height:auto;
margin:0 auto;
max-width:960px;
padding:80px 12px 0;
}

.container-top-work {
background-color:#fff;
border-bottom:1px solid #bfbfbf;
display:block;
float:left;
margin:0 auto;
padding:60px 0 80px;
width:100%;
}

.container-fill {
background-color:#f2f2e8;
display:block;
float:left;
margin:430px auto 0;
padding-top:100px;
width:100%;
}


.container .description{
margin-top: 80px;
/* margin-bottom:60px; */
	
}

.container .description p{
	color: #8e8e8;
	font-family: 'lucida grande',serif;
font-size:20px;
font-weight:100;
line-height:150%;
text-align: left;
margin-bottom: 20px;
	
}

/*
header.home,header {
background-color:#f2f2e8;
clear:both;
height:80px;
margin:0 auto;
position:relative;
top:100px;
width:100%;
z-index:9999!important;
}
*/



header.home, header {
	position: relative;
	background-color: #fff;
	background-image: url(images/header-image-bg2.jpg);
	margin: 0 auto;
	width: 100%;
	height: 180px;
	-webkit-box-shadow: 0 1px 5px -1px #333;
	-moz-box-shadow: 0 1px 5px -1px #333;
	box-shadow: 0 1px 5px -1px #333;
	clear: both;
	z-index: 9999 !important;
	top: 430px;
}

header {
top:0;
}

footer {
background:#fff;
border-top:1px solid #bcbcbc;
/* margin-top:120px; */
padding-top:70px;
width:100%;
}

.footer-logo {
display:block;
margin:0 auto;
width:32.8125%;
}

.footer-logo img {
margin-bottom:40px;
}

p {
color:#8e8e8e;
font-family: 'lucida grande',serif;
font-size:1em;
font-style:normal;
font-weight:400;
line-height:1.75em;
margin:0 0 1em;
}

p.process {
color:#8e8e8e;
font-family: 'lucida grande',serif;
font-size:.875em;
font-style:normal;
font-weight:400;
line-height:1.875em;
margin:0 0 1em;
}

p.legal {
color:#fff;
font-size:.75em;
margin:0;
text-align:center;
}

p.blog-date {
color:#bfbfbf;
font-style:italic;
}

h1,h2,h4 {
font-family: 'lucida grande',serif;
font-style:normal;
font-weight:400;
letter-spacing: 0.25em;
margin:0 0 1em;
}

.home-hero h1 {
margin-top:40px;
}

h1,.home-hero h1 {
color:#444135;
font-size:2em;
line-height:1.1875em;
margin-bottom:1em;
text-align:center;
}

h1.about-head {
color:#fff;
font-family: 'lucida grande',serif;
font-size:2.25em;
font-style:normal;
font-weight:800;
letter-spacing: 0.25em;
line-height:1.25em;
margin:20px 0 30px;
}

h1.jumbo {
font-size:2.625em;
line-height:1.25em;
margin:0;
}

.logotype{
	font-size: 60px;
	font-family: 'lucida grande' sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 55px;
text-align: center;
color: white;
line-height: 60px;
text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}


h3.home-action {
color:#fff;
font-family: 'lucida grande',serif;
font-size:1.125em;
font-style:normal;
font-weight:400;
margin-top:1.5em;
}

h3.work-type-home,h3.work-type {
color:#7f7f7f;
font-family:brandon-grotesque,sans-serif;
font-size:.75em;
font-style:normal;
font-weight:700;
letter-spacing:2px;
margin:0;
text-align:center;
text-transform:uppercase;
}

h3.work-type {
color:#7f7f7f;
font-family:brandon-grotesque,sans-serif;
font-size:.875em;
font-style:normal;
font-weight:900;
letter-spacing:3px;
margin:10px 0 0;
text-align:center;
text-transform:uppercase;
}

h3.work-single-type {
font-family: 'lucida grande',serif;
font-size:.875em;
font-style:italic;
font-weight:400;
margin:0 0 1em;
text-align:left;
}

h5.sep-small {
color:#7f7f7f;
font-family: 'lucida grande',serif;
font-size:2em;
font-style:normal;
font-weight:100;
text-align:center;
}

h2 {
color:#444135;
font-size:1.125em;
margin:1em 0 0;
text-align:center;
}

h2.about {
color:#f07057;
margin:2em 0 1em;
}

h2.services {
color:#f07057;
margin:2em 0 1em;
text-align:left;
}

h2.work-title {
color:#f07057;
font-size:1.5em;
}

h2.work-single-title,h2.blog-title {
color:#f07057;
font-size:1.5em;
font-weight:600;
margin:0 0 .5em;
text-align:left;
}

h2.blog-title {
color:#f07057;
font-size:1.5em;
font-weight:600;
margin:0;
text-align:left;
}

h2.footer {
font-weight:600;
margin:0;
}

h2.about-subhead {
color:#fff;
font-family:brandon-grotesque,sans-serif;
font-size:1.25em;
font-style:normal;
font-weight:900;
letter-spacing:8px;
margin:0;
text-transform:uppercase;
}

h4.twitter {
font-size:.875em;
}

a:hover {
color:#444135;
text-decoration:none;
}

a.logo {
background-image:url(../images/logo.png);
background-repeat:no-repeat;
display:block;
float:left;
height:56px;
margin-top:20px;
text-indent:-9999px;
width:230px;
}

a.action {
background:#f07057;
display:block;
height:110px;
padding:30px 0;
}

ul.menu {
float:right;
list-style-type:none;
margin-top:40px;
width:auto;
}

ul.menu li {
float:left;
font-family:brandon-grotesque,sans-serif;
font-size:13px;
font-style:normal;
font-weight:700;
letter-spacing:4px;
padding:0 0 0 30px;
text-transform:uppercase;
}

ul.menu li a {
border-top:2px solid #fff;
color:#444135;
padding-top:10px;
text-decoration:none;
}

img {
height:auto;
max-width:100%;
}

.sep {
height:20px;
margin:80px auto;
width:64.583333333333%;
}

span.star {
display:block;
height:20px;
margin:0 auto -11px;
width:20px;
}

span.rule-r {
border-bottom:1px solid #ddd;
float:right;
height:1px;
width:46%;
}

span.rule-l {
border-bottom:1px solid #ddd;
float:left;
height:1px;
width:46%;
}

.rule-work {
border-bottom:1px solid #bfbfbf;
margin:2em 0;
}

ul li.previous {
display:inline;
padding:0 10px;
}

ul li.previous a {
background:#f07057;
color:#fff;
padding:8px 16px;
}

ul li.previous a:hover {
background:#fff;
color:#bfbfbf;
}

.page-counter {
font-family:brandon-grotesque,sans-serif;
font-size:.75em;
font-style:normal;
font-weight:700;
letter-spacing:2px;
margin-top:3em;
text-transform:uppercase;
}

.onecol,.twocol,.threecol,.threecol-2,.threecol-2-work,.fourcol,.fourcol-3,.fivecol,.fivecol-2,.fivecol-3,.fivecol-4.sixcol {
display:block;
float:left;
height:auto;
margin:0 1.041666666667%;
margin-bottom: 60px;
overflow:hidden;
}

.onecol {
width:97.916666666667%;
}

.twocol {
width:47.916666666667%;
}

.threecol-work {
display:block;
float:right;
height:auto;
margin:0 1.041666666667%;
overflow:hidden;
/* margin-bottom: 100px; */
}

.threecol,.threecol-work {
width:31.25%;
}

.threecol-2,.threecol-2-work {
width:64.583333333333%;
}

.fourcol {
margin:0 1.041666666667%;
width:22.916666666667%;
}

.fourcol-3 {
width:72.916666666667%;
}

.fivecol {
width:17.916666666667%;
}

.fivecol-2 {
width:37.916666666667%;
}

.fivecol-3 {
width:57.916666666667%;
}

.fivecol-4 {
width:77.916666666667%;
}

.sixcol {
width:14.583333333333%;
}

.formNoError {
display:none;
}

.rsform-input-box {
border:none;
height:auto;
margin-bottom:10px;
padding:5%;
width:80%;
}

.rsform-block {
font-size:14px;
font-weight:400;
line-height:28px;
}

textarea {
border:0;
}

.contact_submit {
background:#f07057;
border:0;
color:#fff;
cursor:pointer;
font-family:brandon-grotesque,sans-serif;
font-size:14px;
font-style:normal;
font-weight:700;
letter-spacing:2px;
padding:8px 14px;
text-transform:uppercase;
}

.contact_submit:hover {
background:#444135;
}

.home-hero-wrap {
background-color:#f07057;
border-top:5px solid #444135;
height:200px;
left:0;
margin:0 auto;
position:fixed;
top:0;
width:100%;
z-index:-9999;

}

.home-hero {
margin:60px auto 0;
padding:0 10%;
position:relative;
text-align:center;
width:72.916666666667%;
}

img.flag {
bottom:0;
left:50%;
margin-left:-36px;
position:absolute;
width:72px;
}

.welcome-wrap {
margin:60px auto 0;
text-align:center;
width:720px;
}

.welcome {
float:left;
margin:0 10px;
width:220px;
}

.phone-icon {
margin-bottom:-8px;
}

.home-blog {
padding:30px 20px 40px;
text-align:center;
}

.home-blog:hover {
background:#fff;
}

.home-blog p {
font-size:.8125em;
margin-bottom:30px;
}

.home-blog h4 {
font-family:brandon-grotesque,sans-serif;
font-size:11px;
font-style:normal;
font-weight:600;
letter-spacing:2px;
text-transform:uppercase;
}

a.home-readmore {
border:2px solid #ddd;
font-family:brandon-grotesque,sans-serif;
font-size:11px;
font-style:normal;
font-weight:700;
letter-spacing:2px;
padding:12px;
text-transform:uppercase;
}

a.home-readmore:hover {
color:#f07057;
}

.slider-wrapper {
display:inline-block;
height:auto;
margin:0 auto;
overflow:hidden;
width:100%;
}

ul.slides li {
color:#fff;
font-family: 'lucida grande',serif;
font-size:20px;
font-style:normal;
font-weight:600;
line-height:29px;
}

span.client-name {
font-size:16px;
font-style:italic;
font-weight:600;
}

span.client {
font-family:brandon-grotesque,sans-serif;
font-size:16px;
font-weight:500;
}

a.callout h1 {
color:#444135;
display:block;
padding:30px 0;
text-align:center;
width:100%;
}

a.callout h1:hover {
background:#f07057;
color:#fff;
}

.about-hero {
background-color:#000;
background-repeat:no-repeat;
height:120px;
margin-bottom:80px;
padding-top:40px;
text-align:center;
width:100%;
-webkit-box-shadow: 0px 4px 10px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 4px 10px rgba(50, 50, 50, 0.75);
box-shadow:         0px 4px 10px rgba(50, 50, 50, 0.75);

}

.about-hero h2{
font-family:brandon-grotesque,sans-serif;
font-size:18px;
	margin-top:-40px;
	color: #d4d4d4;
	letter-spacing: 15px;
}

ul.design-list,ul.dev-list {
list-style-type:none;
}

ul.design-list li,ul.dev-list li {
font-size:1em;
line-height:2em;
}

.devices {
float:right;
margin:60px 0 0;
text-align:center;
}

a.projects {
background:#f07057;
color:#fff;
display:block;
float:left;
font-size:1.125em;
margin:0 1.041666666667%;
padding:20px 0;
text-align:center;
width:31.25%;
}

a.inner-button {
background:#fff;
border:2px solid #ddd;
color:#7f7f7f;
display:block;
font-family:brandon-grotesque,sans-serif;
font-size:1em;
font-style:normal;
font-weight:900;
letter-spacing:4px;
margin:60px auto 0;
padding:20px 0;
text-align:center;
text-transform:uppercase;
width:31.25%;
}

a.inner-button:hover {
border:2px solid #f07057;
color:#f07057;
}

.work-home,.work {
background:#fff;
padding-bottom:20px;
}

.work {
margin-bottom:60px;
}

a.more-work {
background:#f07057;
color:#fff;
display:block;
font-size:1.125em;
margin:60px auto 0;
padding:20px 0;
text-align:center;
width:31.25%;
}

a.blog-readmore {
background:#fff;
border:2px solid #bfbfbf;
font-family:brandon-grotesque,sans-serif;
font-size:11px;
font-style:normal;
font-weight:900;
letter-spacing:2px;
padding:12px;
position:relative;
text-align:center;
text-transform:uppercase;
width:105px;
}

a.blog-readmore:hover {
background:#f2f2e8;
color:#f07057;
}

.blog-wrap {
border-bottom:1px solid #bfbfbf;
margin-bottom:100px;
padding-bottom:60px;
}

ul.social {
list-style-type:none;
margin:60px 0;
}

ul.social li {
display:inline;
font-family:brandon-grotesque,sans-serif;
font-size:1em;
font-style:normal;
font-weight:900;
letter-spacing:4px;
text-transform:uppercase;
}

ul.social li.social-middle {
padding:0 80px;
}

.legal {
background:#000;
padding:15px 0;
width:100%;
}

img.process-icon,img.process-icon1 {
margin-top:20px;
}

.nomar {
margin:0;
}

.bump {
height:80px;
margin:0 auto;
width:100%;
}

.bump-small {
height:40px;
margin:0 auto;
width:100%;
}

a.action:hover,a.projects:hover,a.more-work:hover {
background:#f27f68;
}

ul.menu li a:hover,ul.menu li.current a {
border-top:2px solid #f07057;
padding-top:10px;
}

::-moz-selection,::selection,::-webkit-selection {
background:#f07057;
color:#f2f2e8;
}

.pagination,p.center {
text-align:center;
}

.threecol-2-work img,.work-home img,.work img {
margin-bottom:20px;
}

@media screen and max-width 959px{
.onecol,.fivecol,.fivecol-2,.fivecol-3,.fivecol-4,.sixcol {
width:97.916666666667%;
}

.twocol {
width:47.916666666667%;
}

.threecol,.threecol-work {
width:31.25%;
}

.threecol-2,.threecol-2-work {
width:64.583333333333%;
}

.fourcol {
width:22.916666666667%;
}

.fourcol-3 {
width:72.916666666667%;
}

.home-hero {
margin:50px auto 0;
padding:0 10%;
position:relative;
text-align:center;
width:72.916666666667%;
}

.home-hero h1 {
color:#444135;
font-size:1.875em;
margin-top:30px;
text-align:center;
}

.footer-logo {
width:50%;
}
}

@media screen and max-width 767px{
.onecol,.twocol,.threecol,.threecol-work,.threecol-2,.threecol-2-work,.fourcol,.fourcol-3,.fivecol,.fivecol-2,.fivecol-3,.fivecol-4,.sixcol,.button {
width:97.916666666667%;
}

.container-fill {
margin:0 auto;
padding-top:30px;
}

.threecol-work {
border-bottom:1px solid #bfbfbf;
margin-bottom:50px;
padding-bottom:20px;
width:97.916666666667%;
}

header.home,header {
height:65px;
top:0;
}

a.logo {
background-repeat:no-repeat;
height:38px;
margin-top:13px;
width:155px;
}

ul.menu li {
float:none;
}

.home-hero-wrap {
display:none;
}

.welcome-wrap {
margin-top:0;
text-align:center;
width:100%;
}

.welcome {
height:110px;
margin:15px auto;
padding:30px 0;
width:100%;
}

.phone-icon {
margin-bottom:-8px;
}

.work-home,.work {
margin:15px 0;
}

a.more-work {
margin:20px auto 0;
width:100%;
}

.sep {
margin:40px auto;
width:100%;
}

.home-blog {
background:#fff;
margin-bottom:30px;
padding-bottom:50px;
}

ul.slides li {
color:#fff;
font-family: 'lucida grande',serif;
font-size:14px;
font-style:normal;
font-weight:400;
line-height:19px;
}

span.client-name {
font-size:11px;
font-weight:600;
}

span.client {
font-family:brandon-grotesque,sans-serif;
font-size:11px;
font-weight:500;
}

h2.services {
text-align:center;
}

ul.design-list,ul.dev-list {
margin:0 auto;
text-align:center;
width:70%;
}

ul.design-list {
border-bottom:1px solid #bcbcbc;
padding-bottom:20px;
}

footer {
margin-top: -100px;

}

.footer-logo {
width:70%;
}

.footer-logo img {
margin-bottom:30px;
}

h2.footer {
font-size:.9375em;
}

ul.social li {
font-size:.8125em;
letter-spacing:2px;
}

ul.social li.social-middle {
padding:0 10px;
}

h4.twitter {
margin-bottom:40px;
}

.devices {
margin:80px auto 0;
}

.devices img {
text-align:center;
width:80%;
}

a.projects {
margin-bottom:30px;
width:100%;
}

a.inner-button {
width:80%;
}

h1.jumbo {
font-size:1.75em;
}

img.process-icon {
border-top:1px solid #bfbfbf;
margin-top:50px;
padding-top:50px;
}

h2.work-single-title {
margin:2em 0 .5em;
}

a.blog-readmore {
background:#fff;
border:2px solid #bfbfbf;
font-family:brandon-grotesque,sans-serif;
font-size:11px;
font-style:normal;
font-weight:900;
letter-spacing:2px;
padding:12px;
position:relative;
text-align:center;
text-transform:uppercase;
width:100%;
}

h1.about-head {
font-size:36px;
margin:.5em;
}

h2.about-subhead {
font-weight:500;
letter-spacing:2px;
}

p .description{
color:white;
font-family:brandon-grotesque,sans-serif;
font-size:11px;
font-style:normal;
font-weight:800;
letter-spacing:2px;
padding:12px;
position:relative;
text-align:center;
text-transform:uppercase;
}

img.contact-flag {
width:100px;
}
}

@media screen and max-width 479px{
.container {
padding:0 12px;
}

p {
font-size:.875em;
line-height:1.75em;
}

ul.menu li a {
border-top:0;
text-align:right;
}

span.rule-r,span.rule-l {
width:42%;
}

h1 {
font-size:1.5em;
line-height:1em;
}

h2.about-subhead {
font-size:1em;
font-weight:700;
letter-spacing:1px;
}

h1.about-head {
font-size:1.625em;
margin:.5em 0;
}

ul.menu li a:hover,ul.menu li.current a {
border-top:0;
padding-top:10px;
}
}

@media screen and max-width 319px{
h2.footer {
font-size:.75em;
}

ul.social {
list-style-type:none;
margin:20px 0;
}

ul.social li {
display:block;
line-height:30px;
}

.footer-logo {
width:90%;
}

h1.about-head {
font-size:20px;
line-height:26px;
}

h2.about-subhead {
font-size:.75em;
letter-spacing:4px;
}
